@require './variables.styl'

html,
body
    height 100%
    width 100%
    padding 0
    margin 0

body
    font-family fontBody, sans-serif
    color $colorDark
    -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
    font-family fontPrimary, sans-serif

input,
select,
button,
label
font 
    inherit

a
    color $colorPrimary
    text-decoration none
