vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

$boxShadowNone = 0 0 0
$boxShadowSm =   0 .05em .1em
$boxShadowMd =   0 .2em .5em

box-shadow()
  vendor('box-shadow', arguments)

$colorPrimary =       #35C5F2
$colorDark =          #1A1F52
$colorWhite =         #FFFFFF
$colorDarkTrans50 =   alpha($colorDark, 0.5)


html,
body
    height 100%
    width 100%
    padding 0
    margin 0

body
    font-family fontBody, sans-serif
    color $colorDark
    -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
    font-family fontPrimary, sans-serif

input,
select,
button,
label
font 
    inherit

a
    color $colorPrimary
    text-decoration none
