vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

$boxShadowNone = 0 0 0
$boxShadowSm =   0 .05em .1em
$boxShadowMd =   0 .2em .5em

box-shadow()
  vendor('box-shadow', arguments)

$colorPrimary =       #35C5F2
$colorDark =          #1A1F52
$colorWhite =         #FFFFFF
$colorDarkTrans50 =   alpha($colorDark, 0.5)
